/*MOBILE - (min-width: 201px) and (max-width: 500px)*/

@media (min-width: 201px) and (max-width: 500px) {

.container-navHeader {
    margin-left: 76%;
}
 
.Header-text {
    font-size: 60%;
  }

.Header-linha-horizontal {
    width: 95%;
}

.navHeader-number01 {
    font-size: 65%;
}

.number04 {
    font-size: 45%;
}

.navHeader-button {
    width: 4.1vw;
    height: 2vh;
}

}

@media(min-width:501px) and (max-width: 900px){
     
    .container-navHeader {
        margin-left: 76%;
    }
     
    .Header-text {
        font-size: 85%;
      }

    .Header-linha-horizontal {
        width: 85%;
    }
    
    .navHeader-number01 {
        font-size: 80%;
    }
    
    .number04 {
        font-size: 59%;
    }
    
    .navHeader-button {
    margin-left: 20%;

    }
     
    a {
        width: 1rem;
    }

}


@media(min-width:901px) and (max-width: 1500px) {

}

@media(min-width:1501px) and (max-width: 1800px) {

}