
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


  /*Ínicio da estilização da configuração da header, background, imagens do personagem e logo*/


header {
    background-image: url("imagens/backgroundheader.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    position: absolute;
  }

  .container-headerImagens {
    display: flex;
    justify-content: center;
  }

  .image-header-star {
    width: 25%;
    height: 12%;
    margin: 23% 0% 22% 18%;
  }

 .KyloRen-banner {
  width: 69%;
  z-index: 4;
  position: absolute;
  LEFT: 11%;
}

.image-header-wars {
  width: 26%;
  height: 12%;
  margin: -28% 13% 33% 65.6%;

  }

  /* Estilização da Navegação da Header */

  .container-navHeader {
    width: 15vw;
    height: 14vh;
    position: relative;
    margin: -30% 0% 0% 80%;
  }

  .Header-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    letter-spacing: -1px;
  }

  .Header-linha-horizontal {
    width: 60%;
    border: 1px solid #000;
    margin: 7% 0 7% 0;
}

  .div-numberAndButton {
    display: inline-flex;
    align-items: center;
  }

.navHeader-number01, .number04 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.number04 {
    font-size: 0.8rem;
    margin: -3% 0% -13%;
}

.navHeader-button {
    width: 2vw;
    height: 3vh;
    background-color: #b4c2c8;
    border: none;
    margin-left: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  a {
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 14px;
    /* position: relative; */
  }

  /*Fim da estilização da header*/

